*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html{
    height: 100%;
}

body{
    background-image:url(../Resources/snow.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    height: 100%;
    flex: auto;
    
}

main{
    /*position: absolute;*/
    width: 1;
    height: 944px;
    left: calc(50% - 1039px/2 - 0.5px);
    top: calc(50% - 944px/2 + 40px);
    background: rgba(68, 95, 124, 0.9);
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}


.left-column{
    box-sizing: border-box;
    left: 0px;
    top: 0px;

    border: 1px solid #000000;
}

.text-field h2{
    
    justify-content: space-between;
}


.Chat-folder{
    width: 372.78px; 
    height: 60px;
}

.chat-field{
    width: 372.78px; 
    height: 60px;
}

.photo-frame{
    float: left;
    width: 60px;
    height: 60px;
}

.user-info{
    width: 310px;
    height: 60px;
    float: right;
}


/*
.left-column{
    position: absolute;
    float: left;
    width: 20%;
    background-color: #7583F0;
    height: 1024px;
    display: flex;
    flex-direction: column;
    
}

.left-column header{

    
}

.left-column content{

}

.left-column new-chat-button{

}


.right-column{
    position: relative;
    float: right;
    width: 80%;
    background-color: #D8FFFD;
    height: 1024px;
    display: flex;
    flex-direction: column;
}

.right-column header{

}

.right-column content{

}

.right-column message-form{

}



.LeftContent{
    flex-direction: column;
}

#left-main-header{
    padding: 6 13 8;
    width: 100%;
    height: 50px;
    display: flex;

}

.DDMenu button{
    width: 25px;
    height: 25px;
    color: blue;
    float: left;
}

.SearchInput{
    float: right;
}



.LeftMainHeader {
    max-width: auto;
    margin: auto;
    text-align: center;
}
  */