*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input[type="text"] {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    display: block;
}
  /* стили для input */
.input-field__input {
    display: flex;
    float: left;
    width: calc(100vw - 100px - 375px - 2px - 160px - 5px);
    height: calc(80px - 2px);
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    align-items: center;
    justify-content: flex-start;
}

.input-field{    
    margin: 0px 81px;
    display: flex;
    flex-direction:unset;
    float: left;
    
    margin-left: auto;
    margin-right: auto;


}

.input-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
}

html{
    height: 100%;
}

body{
    background-image:url(../Resources/snow.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    height: 100%;
    flex: auto;
    
}

main{
    /*position: absolute;*/
    width: 1;
    height: 944px;
    left: calc(50% - 1039px/2 - 0.5px);
    top: calc(50% - 944px/2 + 40px);
    background: rgba(68, 95, 124, 0.9);
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}


.left-column{
    box-sizing: border-box;
    left: 0px;
    top: 0px;

    border: 1px solid #000000;
}

.text-field h2{
    
    justify-content: space-between;
}


.Chat-folder{
    width: 372.78px; 
    height: 80px;
}

.chat-field{
    width: 372.78px;
    height: 80px;
}

.photo-frame{
    float: left;
    width: 80px;
    height: 80px;
}

.user-info{
    width: 290px;
    height: 80px;
    float: right;
}

.text-field b{
    
}

/*
.left-column{
    position: absolute;
    float: left;
    width: 20%;
    background-color: #7583F0;
    height: 1024px;
    display: flex;
    flex-direction: column;
    
}

.left-column header{

    
}

.left-column content{

}

.left-column new-chat-button{

}


.right-column{
    position: relative;
    float: right;
    width: 80%;
    background-color: #D8FFFD;
    height: 1024px;
    display: flex;
    flex-direction: column;
}

.right-column header{

}

.right-column content{

}

.right-column message-form{

}



.LeftContent{
    flex-direction: column;
}

#left-main-header{
    padding: 6 13 8;
    width: 100%;
    height: 50px;
    display: flex;

}

.DDMenu button{
    width: 25px;
    height: 25px;
    color: blue;
    float: left;
}

.SearchInput{
    float: right;
}



.LeftMainHeader {
    max-width: auto;
    margin: auto;
    text-align: center;
}
  */