<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyVISU</title>
  <!---->  <link href="/CSS/style.css" rel="stylesheet" type="text/css">
    <link href="/CSS/header.css" rel="stylesheet" type="text/css">
    <link href="/CSS/footer.css" rel="stylesheet" type="text/css">
    <link href="/CSS/index.css" rel="stylesheet" type="text/css">
    <script src="/js/getLoadTime.js"></script>
</head>

<body>
    <header>
        <!--<img class="header-logo" src="/assets/logo.svg" alt="logo">-->
        <h1 class="header-name">MyVISU</h1>
    </header>

    <main class="main-class">
        <div class="main-class wrapper-chat-page">
            <div class="left-column" style="min-height: 945px; width: 375px; background: rgba(68, 95, 124, 0.9);">
                <div class="header" style="position: relative;
                width: 100%; height: 80px; left: 0px; top: 0px;
                background: #C2D3FF;">

                    <div class="button-field" style="width: 80px;
                    height: 80px; left: 0px; top: 0px; float: left;">
                        <img class="menu-logo" src="/assets/Menu-button.svg" alt="logo" style="margin-left: 20px; margin-top: 20px;">
                    </div>
                    <div class="text-field" style="width: calc(372.78px - 80px);
                    height: 50px; left: 80px; top: 0px; float: right; margin-top: 20px;" > <h2>Chats</h2></div>
                </div>

                <div class="chat-list">
                    <div class="button-field" style="width: 372.78px;
                    height: 60px;">
                        <div class="frame-field" style="width: 200px;
                        height: 60px; right: 30px; text-align: center; margin-left: auto; margin-right: auto;">
                            <div class="new-chat-button" style="width: 60px; height: 60px; float: left;">
                                <img class="new-chat-logo" style="display: flex;" src="/assets/PlusCircleOutlined.svg" alt="logo">
                            </div>
                            <div class="text-field" style="width: 140px; height: 60px; float: right;">New Chat</div>
                        </div>
                    </div>
                    
                    <div class="chat-list" style="width: 372.78px; height: 800px">

                        <div class="Chat-folder chat-1">
                            <div class="chat-field">
                                <div class="photo-frame">

                                </div>
                                <div class="user-info"></div>
                            </div>
                        </div>
                        <div class="Chat-folder chat-2">
                            <div class="chat-field">
                                <div class="photo-frame"></div>
                                <div class="user-info"></div>
                            </div>
                        </div>
                        <div class="Chat-folder chat-3">
                            <div class="chat-field">
                                <div class="photo-frame"></div>
                                <div class="user-info"></div>
                            </div>
                        </div>

                    </div>

                </div>
            
            </div>
            

        </div>

 
    </main>

    <footer>
        <div style="margin-left: 50px"><h4 class="footer-copyright" style="width: 200px;">© 2022 ООО «vItmo»</h4></div>

        <div class="footer-links" style="width: 300px;
        margin-left: 100px;
        margin-right: auto;">
            <a class="footer-link" style="margin-left: 60px; margin-right: 50px;" href="https://github.com/tanuki-er" target="_blank" rel="noopener">GitHub</a>
            <a class="footer-link"  href="https://t.me/Aelys_er" target="_blank" rel="noopener">Telegram</a>
        </div>
        <div class="load-time" style="width: 300px; margin-left: 180px; margin-right: 180px; display: flex; margin-top: 15px;"></div>
    </footer>
</body>


</html>