<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyVISU</title>
  <!---->  <link href="/CSS/style.css" rel="stylesheet" type="text/css">
    <link href="/CSS/header.css" rel="stylesheet" type="text/css">
    <link href="/CSS/footer.css" rel="stylesheet" type="text/css">
    <link href="/CSS/index.css" rel="stylesheet" type="text/css">
    <link href="/CSS/chat-choosed.css" rel="stylesheet" type="text/css">
    <script src="/js/getLoadTime.js"></script>
</head>

<body>
    <header>
        <!--<img class="header-logo" src="/assets/logo.svg" alt="logo">-->
        <h1 class="header-name">MyVISU</h1>
    </header>

    <main class="main-class">
        <div class="main-class wrapper-chat-page">
            <div class="left-column" style="float: left; min-height: 944px; width: 375px; background: rgba(68, 95, 124, 0.9);">
                <div class="header" style="
                width: 100%; height: 80px; left: 0px; top: 0px;
                background: #C2D3FF;">

                    <div class="button-field" style="width: 80px;
                    height: 80px; left: 0px; top: 0px; float: left;">
                        <img class="menu-logo" src="/assets/Menu-button.svg" alt="logo" style="margin: 24px">
                    </div>
                    <div class="text-field" style=" width: 148px; height: 80px; float: left;" >
                        <h2 style="margin: 24px;">Chats</h2></div>
                </div>

                <div class="chat-list">
                    <div class="button-field" style="width: 372.78px;
                    height: 60px;">
                        <div class="frame-field" style="width: 200px;
                        height: 60px; right: 30px; text-align: center; margin-left: auto; margin-right: auto;">

                            <div class="new-chat-button" style="width: 60px; height: 60px; float: left;">
                                <img class="new-chat-logo" style="margin: 14px; display: flex;" src="/assets/PlusCircleOutlined.svg" alt="logo">
                            </div>
                            <div class="text-field" style=" margin: 20px 0px; width: 140px; height: 20px; float: right;"><b>New Chat</b></div>
                        </div>
                    </div>
                    
                    <div class="chat-list" style="width: 372.78px; height: 800px">

                        <div class="Chat-folder chat-1">
                            <div class="chat-field">
                                <div class="photo-frame">
                                    <img class="round" style=" border-radius: 90px; margin: 10px; 
                                    box-shadow: 0 0 0 1px black, 0 0 10px #333; " width="60" height="60" src="/Resources/cute-fox.jpg" alt="photo">
                                </div>
                                <div class="user-info">
                                    <div class="user-name" style="margin: 10px;width: 150px;float: left; height: 20px;"><strong>Person 1</strong></div>
                                    <div class="last-message-time" style="
                                    width: 100px; float: right; margin: 10px; height: 20px; text-align: right;
                                    ">12:22</div>
                                    <div class="last-message" style="height: 20px; margin: 10px; float: left; display: flex;"><p>here is his last message</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="Chat-folder chat-2">
                            <div class="chat-field">
                                <div class="photo-frame">
                                    <img class="round" style=" border-radius: 90px; margin: 10px; 
                                    box-shadow: 0 0 0 1px black, 0 0 10px #333; " width="60" height="60" src="/Resources/person2.jpg" alt="photo">
                                </div>
                                <div class="user-info">
                                    <div class="user-name" style="margin: 10px;width: 150px;float: left; height: 20px;"><strong>Person 2</strong></div>
                                    <div class="last-message-time" style="
                                    width: 100px; float: right; margin: 10px; height: 20px; text-align: right;
                                    ">13:33</div>
                                    <div class="last-message" style="height: 20px; margin: 10px; float: left; display: flex;"><p>here is his last message</p></div>
                                </div>
                            </div>
                        </div>
                        <div class="Chat-folder chat-3">
                            <div class="chat-field">
                                <div class="photo-frame">
                                    <img class="round" style=" border-radius: 90px; margin: 10px; 
                                    box-shadow: 0 0 0 1px black, 0 0 10px #333; " width="60" height="60" src="/Resources/person3.jpg" alt="photo">
                                </div>
                                <div class="user-info">
                                    <div class="user-name" style="margin: 10px;width: 150px;float: left; height: 20px;"><strong>Person 3</strong></div>
                                    <div class="last-message-time" style="
                                    width: 100px; float: right; margin: 10px; height: 20px; text-align: right;
                                    ">14:44</div>
                                    <div class="last-message" style="height: 20px; margin: 10px; float: left; display: flex;"><p>here is his last message</p></div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            
            </div>
            

            <!--max-size=1423- 946+2 + 373+2 || 1423 - 1323|948 - 375-->
            <!--max-size=1423-100 -->
            <!--max-size - 375-->
            <div class="right-column" style="min-height:944px; width: calc(100vw - 100px - 375px - 2px); background: rgba(68, 95, 124, 0.2);
            float:right; border: 1px solid #000000;">
                <div class="chat-header" style=" width: 100%; height: 80px; left: 0px; top: 0px; background: #C2D3FF;"> 

                    <div class="person-info" style="display: flex;float: left; width: 150px;">
                        
                        <div class="user-info">
                            <div class="user-name" style="margin: 15px 20px 5px;width: 150px;float: left; height: 20px;"><strong>Person 1</strong></div>
                            <div class="last-seen" style="width: 100px; float: left; margin: 5px 20px 15px; height: 20px; text-align: left;
                            ">12:22</div>
                
                        </div>
                
                    </div>
                    <div class="button-field" style="width: 80px; height: 80px; left: 0px; top: 0px; float: right;"> 
                        <img class="new-chat-logo" style="margin: 24px; display: flex;" src="/assets/others-button.svg" alt="logo">
                    </div>
                </div>

                <div class="chat-body" style="width: 100%; height: 784px;">
                    <div class="message-field" style="display: flex;"></div>
                </div>

                <div class="chat-input" style="height: 80px;">
                    <div class="button-field" style="width: 80px; height: 80px; left: 0px; top: 0px; float: left; margin-right: auto;"> 
                        <img class="new-chat-logo" style="margin: 24px; display: flex;" src="/assets/Add-files-button.svg" alt="logo">
                    </div>

                    <div class="input-field"> 
                        <input class="input-field__input" type="text" name="message" id="message" placeholder="message" value="itchief">
                    </div>

                    <div class="button-field" style="width: 80px; height: 80px; left: 0px; top: 0px; float: right; margin-left: auto;">
                        <img class="new-chat-logo" style="margin: 24px; display: flex;" src="/assets/Send-message-button.svg" alt="logo">
                    </div>

                </div>

        </div>

 
    </main>

    <footer>
        <div style="margin-left: 50px; margin-right: 142.77px;width: 240px;">
            <h4 class="footer-copyright" style="float: left; width: 200px;margin: 15px;height: 20px;">© 2022 ООО «vItmo»</h4></div>

        <div class="footer-links" style="width: 300px; float: right;
        margin-left: 10px;
        margin-right: 10px;">
            <a class="footer-link"  href="https://github.com/tanuki-er" target="_blank" rel="noopener">GitHub</a>
            <a class="footer-link"  href="https://t.me/Aelys_er" target="_blank" rel="noopener">Telegram</a>
        </div>
        <!--<div class="load-time" style="width: 300px; margin-left: 180px; margin-right: 180px; display: flex; margin-top: 15px;"></div>-->
    </footer>
</body>


</html>