<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/CSS/hello-page.css" rel="stylesheet">
</head>
<body>
    <div class="sign-in-page">
        <div class="flex-grow-1 d-flex align-items-center auth-form">
            <div class="w-100">
                <div class="text-center">
                        <img class="mx-auto logo" src="/auth/resources/9g7vy/login/ITMO.v2/img/logo.svg" alt="itmo id">
                </div>
                <div>
    
                    <div class="page-title"></div>
                    <div class="page-subtitle"></div>
    
    
                    <form id="kc-form-login" onsubmit="login.disabled = true; return true;" 
                    action="https://id.itmo.ru/auth/realms/itmo/login-actions/authenticate?session_code=8l5wu99rm6LF7c-R0BVelLVp6UL4FmOoM6c2-N-6fTo&amp;execution=7db2448a-e998-4527-8831-184f67f677f9&amp;client_id=student-personal-cabinet&amp;tab_id=FXQK4OspPfg" method="post">
    
                    <div class="form-group">
                        <label for="username" class="input-label d-flex align-items-end">Имя пользователя или E-mail</label>
                        <input tabindex="1" id="username" class="form-control " name="username" value="" type="text" autofocus="" autocomplete="off" aria-invalid="">
    
                    </div>
    
                    <div class="form-group">
                        <label for="password" class="input-label d-flex align-items-end ">Пароль</label>
    
                        <input tabindex="2" id="password" class="form-control " name="password" type="password" autocomplete="off">
                        <div class="reset-password">
                            <a tabindex="5" href="/auth/realms/itmo/login-actions/reset-credentials?client_id=student-personal-cabinet&amp;tab_id=FXQK4OspPfg">Забыли пароль?</a>
                        </div>
                    </div>
    
    
                    <div class="form-group login-pf-settings mt-2 mb-4 d-flex">
                        <div class="flex-grow-1 d-flex justify-content-between align-items-center">
                            <label class="custom-control custom-checkbox ">
                                <input tabindex="5" class="custom-control-input" id="rememberMe" name="rememberMe" type="checkbox"> <span class="custom-control-label">Запомнить меня</span>
                            </label>
                        </div>
                    </div>
    
                    <div class="form-group mb-0">
                        <input type="hidden" id="id-hidden-input" name="credentialId">
                        <input tabindex="4" class="btn btn-primary pf-m-block w-100" name="login" id="kc-login" type="submit" value="Вход">
                    </div>
    
                        <div class="form-group mt-2 text-center">
                            <div id="kc-registration">
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>    
</body>
</html>



