<!DOCTYPE html>
<html lang="ru">
<head class="main-header">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/CSS/style.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap" rel="stylesheet">
  <title>MyVISU</title>
  <script src="js/script.js" defer></script>
<!--
    desktop             1440x1024
    iPad Pro 12.9       1024x1366
    iPad mini 8.3       744x1133
    iPhone 13 Pro Max    428x926
-->

</head>

<body>
    <div id="LeftColumn">
        <div class="LeftMainHeader">
            <div id="left-main-header">
                <div class="DDMenu">
                    <button type="button" class="button" title="open menu">
                        <div class="animated-menu-icon">
                            <!--::before
                            ::after-->
                        </div>
                        <div class="ripple-container"></div>
                    </button>
                </div>
                <div class="SearchInput">
                    <input id="search-input" type="text" dir="auto" placeholder="Search" autocomplete="off">
                    <i class="icon-search">
                        <!--::before-->
                    </i>
                </div>
            </div>
            <hr>
        </div>




        <div class="LeftContent"> <!-- как в веб-телеге-->
            <section class="chatlist-top"> 
                <ul class="chatlist">
                    <a class="chatlist-chat">
                        <avatar-element class="dialog-avatar"></avatar-element>
                        <div class="user-caption">
                            <p class="dialog-title">
                                <span class="user-dialog-title"></span>
                                <span class="user-dialog-details"></span>
                            </p>
                            <p class="dialog-subtitle">
                                <span class="user-last-message" dir="auto"></span>
                            </p>
                        </div>
                    </a>
                </ul>
            </section>
        </div>
        
    </div>
</body>

</html>